/* contacto */
#section5{
    background-color: #c7b299;
    color: black;
    padding:20px;
    min-height: 0.1vh;
    
}
.sinDecoracion{
    text-decoration: none;
}
.iconoContacto{
    font-size: 2rem;
    color:#201f1d;
    margin: 20px;
}
.iconoContacto:hover{
    text-shadow: 1px 1px 1px
}

.color{
    color:#201f1d;
}