<div class="contenedor m-2">
    <h2 class="pt-3 px-2">{{idiomaEspanol ? titulo.section.es : titulo.section.en}}</h2>
    <div class="row" >
      <div class="col-md-6" *ngFor="let categoria of categorias;">
        <div class="border border-1 border-white p-3 m-2 mb-4" >
          <div class="d-flex justify-content-between">
            <h4>{{idiomaEspanol ? categoria.nombreCatEduEs : categoria.nombreCatEduEn}}</h4>
            <i *ngIf="estaLogueado()" class="fa-regular fa-plus p-2 m-1 mas-en-educacion"
             data-bs-toggle="modal" data-bs-target="#agregarEdu" (click)="guardarCategoriaEdu(categoria)"></i>
          </div>
          <div class="d-flex m-2" *ngFor="let curso of filtrarPorCategoria(categoria.idCatEdu)">
            <div>
                <img [src]="curso.logoInstitucion" alt="Logo Inst." class= "logoEducacion">
            </div>
            <div class="pt-2">
              <div class="d-flex justify-content-between">
                <h6 class=" fw-bold ">{{curso.institucion}}</h6>
                <i *ngIf="estaLogueado()" class="fa-regular fa-pen-to-square text-muted m-2"
                 data-bs-toggle="modal" data-bs-target="#editarEdu" (click)="guardarEducacion(curso)"></i>
                <i *ngIf="estaLogueado()" class="fa-regular fa-trash-can text-muted m-2"
                 data-bs-toggle="modal" data-bs-target="#eliminarEdu" (click)="guardarEducacion(curso)"></i>
              </div>
              <p class="oscura ">{{idiomaEspanol ? curso.tituloEs : curso.tituloEn}}</p>
              <p class="chico ">{{idiomaEspanol ? curso.descripcionEs : curso.descripcionEn}}</p>
              <p class="text-muted muyChico">{{curso.inicio}} - {{curso.fin}}</p>
            </div>
            <app-borrar-educacion class="modal" id="eliminarEdu"
             [educacionABorrar]="educacionActual" (onDeleteEvent)="renderizar()"></app-borrar-educacion>
            <app-editar-educacion class="modal" id="editarEdu"
             [educacionAEditar]="educacionActual" (onEditEvent)="renderizar()"></app-editar-educacion>
          </div>
        </div>
      </div>
    </div>
  <app-get-back></app-get-back>
</div>
<app-educacion-nueva class="modal" id="agregarEdu"
 [catEduAsignada]="idCatEduActual" (onCreateEvent)="renderizar()"></app-educacion-nueva>

