/* Conocimiento */
#section4{
    padding: 20px;
    min-height: 100vh !important;
}

.progress{
    height: 1.5rem;
}

i {
    color: rgb(228, 228, 228);
    font-size: 0.9rem;
}

.icono-principal{
    font-size: 0.8rem;
    font-weight: bold;
    align-items: center;
}

.progress-bar{
    height: 100%;
    font-weight: bold;
    
}

.iconoEnBarra{
    color: rgb(49, 49, 49);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem
}

.texto{
    color:rgb(49, 49, 49);
}

