/* Conocimiento */
#section4{
    padding: 20px;
    min-height: 80vh;
}

.progress{
    height: 1.5rem;
}

i {
    color: black;
    font-size: 0.9rem;
}

.icono-principal{
    font-size: 0.8rem;
    font-weight: bold;
    align-items: center;
}

.progress-bar{
    height: 100%;
}

.iconoEnBarra{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem
    
}