<!-- Seción 4 Skills-->
<div id="section4" class="contenedor">
  <div class="d-flex">
    <h3 class="mt-5 pt-3">{{idiomaEspanol ? titulo.section.es : titulo.section.en}}</h3>
    <i *ngIf="estaLogueado()" class="fa-regular fa-plus icono-principal mt-5 pt-3 px-3 d-flex" data-bs-toggle="modal"
    data-bs-target="#agregarCatSkill"></i>
  </div>

  <div class="row">
    <div *ngFor="let categoria of categorias; last as isLast; even as isEven"
      [ngClass]="{' col-md-12': isLast && isEven , 'col-sm-12 col-md-6': !(isLast && isEven)}">

      <div class="border border-1 border-success p-3 mt-3">
        <div class="d-flex justify-content-between">
          <h3> {{idiomaEspanol ? categoria.nombreCatSkillEs : categoria.nombreCatSkillEn}}</h3>
          <div class="d-flex flex-column">
            <i *ngIf="estaLogueado()" class="fa-regular fa-trash-can icono-principal" data-bs-toggle="modal"
            data-bs-target="#eliminarCatSkill"(click)="guardarCategoriaSkill(categoria)"></i>
          </div>
        </div>
        <div *ngIf="filtrarPorCategoria(categoria.idCatSkill).length==0" class="alert alert-success m-2" role="alert">
          {{idiomaEspanol ? titulo.comentario.es : titulo.comentario.en}}
        </div>

        <div *ngFor="let item of filtrarPorCategoria(categoria.idCatSkill)" class="progress mb-3 mt-3">


          <div style="width: 100%;" class="d-flex">
            <div style="width: 100%;" class="d-flex">

              <div class="progress-bar  bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': item.avance}">
                {{item.nombreSkill}} {{item.avance}}%
              </div>

            </div>

            <div *ngIf="estaLogueado()" class="d-flex">
              
              <i class="fa-regular fa-pen-to-square iconoEnBarra text-dark" data-bs-toggle="modal"
              data-bs-target="#editarConocimiento" (click)="guardarSkill(item)"></i>
              <i class="fa-regular fa-circle-xmark iconoEnBarra  text-dark" data-bs-toggle="modal"
              data-bs-target="#eliminarConocimiento" (click)="guardarSkill(item)"></i>
              
            </div>

          </div>

          <app-borrar-conocimiento class="modal" id="eliminarConocimiento" [skillABorrar]="skillActual" (onDeleteEvent)="renderizar()"></app-borrar-conocimiento>
          <app-editar-conocimiento class="modal" id="editarConocimiento" [skillAEditar]="skillActual" (onEditEvent)="renderizar()"></app-editar-conocimiento>
          
        </div>

        <div class="d-flex justify-content-end">
          <i *ngIf="estaLogueado()" class="fa-regular fa-plus icono-principal" data-bs-toggle="modal"
            data-bs-target="#agregarConocimiento" (click)="guardarCategoriaSkill(categoria)"></i>
        </div>
      </div>

    </div>
  </div>
  <br/>
  <app-get-back></app-get-back>
</div>
<app-borrar-categoria-skill class="modal" id="eliminarCatSkill" [catSkillABorrar]="catSkillActual" (onDeleteEvent)="renderizar()"></app-borrar-categoria-skill>
<app-conocimiento-nuevo class="modal" id="agregarConocimiento" [catSkillAsignada]="catSkillActual" (onCreateEvent)="renderizar()"></app-conocimiento-nuevo>
<app-categoria-skill-nueva class="modal" id="agregarCatSkill" (onCreateEvent)="renderizar()"></app-categoria-skill-nueva>