<div class="modal" id="agregarExp">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{idiomaEspanol ? titulo.es : titulo.en}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <form (ngSubmit)="onCreate()" class="custom-form" method="" #formNuevaExp="ngForm">
        <div class="modal-body">

          <div class="mb-3 form-group">
            <label for="empresaNueva" class="form-label">{{idiomaEspanol ? ediciones.empresa.es : ediciones.empresa.en}}:</label>
            <input type="text" class="form-control" id="empresaNueva" placeholder="Nombre de la empresa"
              name="empresaNueva" [(ngModel)]="empresaNueva" required>
          </div>
          <div class="mb-3 form-group">
            <label for="puestoEsNuevo" class="form-label">{{idiomaEspanol ? ediciones.puestosEs.es : ediciones.puestosEs.en}}:</label>
            <input type="text" class="form-control" id="puestoEsNuevo"
              placeholder="Introduzca los puestos. Si es más de uno separelos con coma" name="puestoEsNuevo" [(ngModel)]="puestoEsNuevo" required>
              <p class="mb-3 text-muted chico">{{idiomaEspanol ? ediciones.comentario.edicion.es : ediciones.comentario.edicion.en}}</p>
          </div>
          <div class="mb-3 form-group">
            <label for="puestoEnNuevo" class="form-label">{{idiomaEspanol ? ediciones.puestosEn.es : ediciones.puestosEn.en}}:</label>
            <input type="text" class="form-control" id="puestoEnNuevo"
              placeholder="Introduzca los puestos. Si es más de uno separelos con coma" name="puestoEnNuevo" [(ngModel)]="puestoEnNuevo" required>
              <p class="mb-3 text-muted chico">{{idiomaEspanol ? ediciones.comentario.edicion.es : ediciones.comentario.edicion.en}}</p>
          </div>
          <div class="mb-3 form-group">
            <label for="logoEmpresaNuevo" class="form-label">{{idiomaEspanol ? ediciones.logo.es : ediciones.logo.en}}:</label>
            <input type="text" class="form-control" id="logoEmpresaNuevo"
              placeholder="Introduzca la URL con el logo de la empresa" name="logoEmpresaNuevo" [(ngModel)]="logoEmpresaNuevo">
          </div>
          <div class="mb-3 form-group">
            <label for="inicioNuevo" class="form-label">{{idiomaEspanol ? ediciones.inicio.es : ediciones.inicio.en}}:</label>
            <input type="text" class="form-control" id="inicioNuevo"
              placeholder="Introduzca cuándo comenzó en la empresa" name="inicioNuevo" [(ngModel)]="inicioNuevo" required>
          </div>
          <div class="mb-3 form-group">
            <label for="finNuevo" class="form-label">{{idiomaEspanol ? ediciones.fin.es : ediciones.fin.en}}:</label>
            <input type="text" class="form-control" id="finNuevo"  [formControl]="finNuevoControl"
              placeholder="Introduzca cuándo comenzó en la empresa" name="finNuevo" [(ngModel)]="finNuevo">
              <!-- <small class="form-text text-danger" *ngIf="errorFin">
                {{idiomaEspanol ? ediciones.fin.error.es : ediciones.fin.error.en}}</small> -->
          </div>
          

        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{idiomaEspanol ? botones.cancelar.es : botones.cancelar.en}}</button>
          <button [disabled]="formNuevaExp.invalid" type="submit" class="btn btn-success" data-bs-dismiss="modal">
            {{idiomaEspanol ? botones.editar.es : botones.editar.en}}</button>
        </div>
      </form>
    </div>
  </div>
</div>