<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" data-bs-theme="dark" >
    <div class="container-fluid">
      <div class="d-flex">
        <a class="navbar-brand my-auto" (click)="scrollTo('home')">
          <img class="logo" src="../../../assets/logo_192.png" alt="GS DEV" id="logo" />
        </a>
        <div class="navbar-brand my-auto">
          <img class="logo2" src="../../../assets/LogoArgentinaPrograma.png" alt="LogoArgentinaPrograma" id="logo2" />
        </div>
      </div>
      <button
        class="navbar-toggler text-light"
        type="button"
        data-bs-toggle="collapse"
        aria-controls="mynavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse bg-dark navbar-collapse" id="mynavbar" style="width: 100%" >
        <ul class="navbar-nav m-auto px-0">
          <li class="nav-item">
            <a
              class="nav-link mx-2"
              (click)="scrollTo('sobre-mi')"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
              >{{idiomaEspanol ? titulos.sobreMi.es : titulos.sobreMi.en}}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-2"
              (click)="scrollTo('proyectos')"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
              >{{idiomaEspanol ? titulos.proyectos.es : titulos.proyectos.en}}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-2"
              (click)="scrollTo('contacto')"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
              >{{idiomaEspanol ? titulos.contacto.es : titulos.contacto.en}}</a
            >
          </li>
        </ul>
        <div class="float-sm-end">
          <button 
            class="btn btn-sm m-2 float-sm-end btn-outline-light"
            (click)="toggleLanguage()">
              {{idiomaEspanol ? "En" : "Es"}}
          </button>
          <button
            *ngIf="!estaLogueado()"
            type="button"
            class="btn btn-sm m-2 float-sm-end btn-outline-light"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            id="login"
          >
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <!-- {{idiomaEspanol ? boton.login.es : boton.login.en}} -->
          </button>
          <button
            *ngIf="estaLogueado()"
            type="button"
            class="btn btn-sm m-2 float-sm-end btn-outline-light"
            (click)="logout()"
            data-bs-toggle="collapse"
            data-bs-target="#mynavbar"
          >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <!-- {{idiomaEspanol ? boton.logout.es : boton.logout.en}} -->
          </button>
        </div>
      </div>
    </div>
  </nav>
  <app-login></app-login>