<div    >
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
  
            
            <div class="modal-header">
                <h5 class="modal-title">{{idiomaEspanol ? ediciones.titulo.es : ediciones.titulo.en}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
  
            <div class="modal-body">
                <h3>{{this.idiomaEspanol ? this.itemABorrar.nombreEs : this.itemABorrar.nombreEn}}</h3>
                <p>{{idiomaEspanol ? ediciones.comentario.es : ediciones.comentario.en}}</p>
            </div>
  
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  {{idiomaEspanol ? botones.cancelar.es : botones.cancelar.en}}</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete()">
                  {{idiomaEspanol ? botones.borrar.es : botones.borrar.en}}</button>
            </div>
  
        </div>
    </div>
  </div>