<!-- Seción 3 Porfolio   HACER ID DINAMICO     -->  

<!-- La edición de esta sección resulta distinta a la de las otras secciones porque al ser un carrousel, si el botón de edición está dentro, el modal se ve solo en el primer slide del carrousel. Para no complicarme, decidí resolverlo de esta manera, para mantener los modales. -->
<div id="section3" class="container-fluid text-white" style="padding:10px 0px 0px 0px; background-color: rgb(224, 224, 224);">

    <!-- Botones de edición-->
    <div *ngIf="estaLogueado()" class="mt-2">
      <i class="fa-regular fa-plus p-2 m-1 float-end mas-en-proyectos my-3 mt-2 text-muted" data-bs-toggle="modal"
        data-bs-target="#agregarElemento"></i>
  
      <i class="fa-regular fa-trash-can float-end mas-en-proyectos my-3 mt-2 text-muted p-2 m-1" data-bs-toggle="modal"
        data-bs-target="#seleccionarElementoABorrar" ></i>
  
      <i class="fa-regular fa-pen-to-square float-end mas-en-proyectos my-3 mt-2 text-muted p-2 m-1" data-bs-toggle="modal"
      data-bs-target="#seleccionarElementoAEditar" ></i>
  
    </div>
  
  
    <div class="container-fluid mt-0">
  
  
      <div class="container-fluid float-cenert pb-3 mt-5" id="contenedorCarrousel">
        <!-- Carrousel -->
        <div [id]="carrouselId" class="carousel slide mb-2" data-bs-ride="carousel">
  
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button *ngFor="let elemento of elementos; index as i; first as isFirst" type="button" data-bs-target="#demo"
              [attr.data-bs-slide-to]=i [ngClass]="{'active': isFirst }"></button>
            <!-- <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button> -->
          </div>
  
          <!-- The slideshow/carousel -->
          <div class="carousel-inner" style="height:fit-content">
            <div *ngFor="let elemento of elementos; first as isFirst" class="carousel-item active"
              [ngClass]="{'active': isFirst }">
              <img [src]="elemento.imagen" [alt]="idiomaEspanol ? elemento.nombreEs : elemento.nombreEn" class="d-block imagenCarrousel">
              <div class="carousel-caption">
  
                <h3>{{idiomaEspanol ? elemento.nombreEs : elemento.nombreEn}}</h3>
  
                <p>{{idiomaEspanol ? elemento.descripcionEs : elemento.descripcionEn}}</p>
  
                <a [href]="elemento.link" target="_blank" class="btn btn-sm text-white">
                  {{idiomaEspanol ? link.es : link.en}} <i class="fab fa-github lead text-white"></i>
                </a>
                
              </div>
  
            </div>
  
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + carrouselId" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + carrouselId" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>